


<div id="add_friends">
	<label> tag your twitter friends</label>
	<input autocomplete="off" id="q" type="text" name="q">
</div>

<% content_for :head  do -%>
	<script>
	$(function(){
	var userTagArray = <%= @user_tags_json.to_json %>
	notes = new Array();
	for (var i=0; i<userTagArray.length; i++) {
		notes[i] = userTagArray[i].user_tag;
		notes[i].note = '<a href="http://twitter.com/' + notes[i].note + '">@' + notes[i].note + '</a>';
	}

	var search_box = $('#q');	
	search_box.autocomplete({ serviceUrl:'/tweets/friends?i=<%=@image.id%>', onSelect: 
		function(value, twitter_login){ 
			//alert(twitter_login);
		
			var twitter_link = ' <a href="http://twitter.com/' + twitter_login + '">@' + twitter_login + "</a>";
			//alert(twitter_link);
			var new_note = {"x1":coords.x1,"y1":coords.y1,"width":coords.width,"height":coords.height,"note":twitter_link}
			notes[notes.length+1] = new_note;
		
			$.post("/user_tags/create", {x:coords.x1,y:coords.y1,width:coords.width,height:coords.height,twitter_login:twitter_login, image_id: <%=@image.id%>},function(data){
				$("#user_tags").append(twitter_link);
				$("img#main_image").imgNotes();
				$("img#main_image").imgAreaSelect({hide:true});
				query_textbox.hide();
				autocomp.hide();
			search_box.val("");
		}, "script");
		}
	 }); // end autocomplete
	}); // end page_load
	</script>
<% end -%>
