
<div id="add_friends">
	<label> tag your twitter friends</label>
	<input autocomplete="off" id="q" type="text" name="q">
	</div>
<% content_for :head  do -%>
	<script>
	$(function(){
	var search_box = $('#q');
	search_box.autocomplete({ serviceUrl:'/tweets/friends?i=<%=@image.id%>', onSelect: 
		function(value, twitter_login){ 
			$.post("/user_tags/create", {twitter_login:twitter_login, image_id: <%=@image.id%>},function(data){
				var twitter_link = '<a href="http://twitter.com/' + twitter_login + '">@' + twitter_login + "</a>";
				$("#user_tags").append(twitter_link);
			search_box.val("");
		}, "script");
		}
	 }); // end autocomplete
	}); // end page_load
	</script>
<% end -%>
