<%= f.label "Description" %>
<%= f.text_area :description %><br>
<div class="chars_left_wrapper"><div class="chars_left"></div></div>
<%= f.label "Upload Image" %>

<input id="image" name="image[image]" type="file" />
