body {
  font-family: 'Lucida Grande',sans-serif;
  background: #eee url(/images/side_bg.png) repeat scroll 0 0;
  margin: 0;
  padding: 0;
  color: #333; 

}

#q{
	position:absolute;
	display:none;
}

a {
  	color:#0084B4;
	text-decoration:none; }
em{
	color:#aaa;
	font-size:12px;
}
.clearfix {
  clear: both; }

#wrapper {
  background: #fff;
  padding: 0 2em 1.5em 2em;
  width: 55em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #eee;
  margin: 1em auto 0.5em; }

#footer {
  text-align: center;
  font-size: 0.8em;
  color: #666;
  padding-bottom: 1.5em; }
#headlogo {
  text-align: center;
  background-image: url('/images/tile.png');
  background-repeat: repeat-x;
}
#headlogo img{
	border:0px;
}
#header h1 {
  float: left;
  font-size: 3em;
  margin: 0;
  padding: 0;
  color: #591107;
  margin-bottom: 0.3em; }
#header #user_bar {
  float: right;
  margin-top: 1.2em; }
  #header #user_bar img {
    vertical-align: middle; }
  #header #user_bar p {
    margin: 0;
    font-size: .75em;
    text-align: right;
  }
#nav {
	float: left;
}
#nav h3{
	display:inline;
	border-right: 1px solid #eee;
}

.active{
	background-color:#999;
}
#images h3{
	margin-bottom:4px;
	color:#5E130A;
}
div#images .image{
	border-bottom: 1px dashed #ccc;
	padding-bottom:10px;
	padding-top:10px;
}
div#images .image .description{
	color: #999;
	font-size: .9em;
}
div#image .description{
	color: #999;
	font-size: .9em;
	margin-bottom:20px;
}
div#user_tags{
	margin-bottom:20px;
	margin-top:20px;
	padding:10px;
	background-color:#eee;
	border: 1px solid #666;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div#images {
	margin-bottom:10px;
}
div#images .image img.post_image{
	float:left;
	margin-right:20px;
}
div#images .image .tweeted{
	font-style:italic;
	font-size: 10px;
	color:#725C5B;
}
div#images .image .tags{
	font-size:.8em;
}
p {
  line-height: 150%; }

form{
	border: 2px solid #ccc;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding:20px;
}
form h4{
	font-style:italic;
}
form label{
	display:block;
	width: 100px;
	float:left;
	text-align:right;
	color:#666;
	font-size:12px;
	margin-right:20px;
	
}
form input[type=text], form input[type=file]{
	font-size: 18px;
	padding:4px;
	margin-bottom:4px;
	width:468px;
}

form input[type=submit]{
	margin-left:100px;
	background: transparent url(/images/button_upload.png) no-repeat scroll 0 0;
	width: 136px;
	height: 42px;
	color:#ccc;
	border: 0;
	text-indent: -999px;
	cursor: pointer;
}
form textarea{
	width:480px;
	height:100px;
	margin-bottom:5px;
}
form#new_post{

}
#tag_instructions{
	text-align:center;
}
ol.tweets{
	font-size:1.2em;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
ol.tweets li{
	border-bottom:1px dashed #D2DADA;
	line-height:1.1em;
	padding:0.7em 0 0.6em;
	position:relative;
}
ol.tweets li:first-child {
	border-top:1px dashed #D2DADA;
}
ol.tweets .thumb{
	display:block;
	height:50px;
	left:0;
	margin:0 10px 0 5px;
	overflow:hidden;
	position:absolute;
	width:50px;
}
ol.tweets .thumb img{
	height:48px;
	width:48px;
}
ol.tweets span.tweet_body{
	display:block;
	margin-left:65px;
	min-height:50px;
	overflow:hidden;
	width:420px;
	font-size:.8em;
}

ol.tweets .screen-name {
	margin-right:5px;
}
ol.tweets .published {
	color:#999;
	font-size:11px;
	font-style:italic;
}

ul#nav{
	font-size:16px;
	padding: 0;
}
ul#nav li {
	display:inline;
	margin: 0;
  border-right: 1px solid #ccc;
	}
ul#nav li a{
  padding: 0 8px;
	line-height:20px;
}
ul#nav .last{
  border: 0;
}
div #image{
	text-align:center;
}
/* clear fix */
/*.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
.hide{
	display:none;
}*/

/*autocomplete*/

.autocomplete-w1 { background:url(/images/shadow.png) no-repeat bottom right; position:absolute; top:7px; left:6px; /* IE6 fix: */ _background:none; _top:1px; }
.autocomplete { width:300px; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE specific: */ _height:350px;  _margin:0px 6px 6px 0; overflow-x:hidden; }
.autocomplete .selected { background:#ddd; }
.autocomplete div { padding:4px 5px 2px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#244772; }
.autocomplete div img.avatar { width:24px; height:24px;}