<h3>Album</h3>

<div id="post">
  <% @album.images.each do |image| %>
    <div id="image">
      <%= image_tag(image.image.url(:medium)) %>
    </div>
      <%=h image.description %>

    </div>
<br>
    <% if !image.user_tags.empty? %>
    <div id="user_tags">
      <% image.user_tags.each do |tag| %>
        <%= twitter_profile_link(tag.twitter_login) %>
      <% end %>
    </div>
  	<% end %>
<% end %>
</div>

<div>
  <% link_to edit_album_url(@album) do %>
    Add photos to this album
  <% end %>
</div>
