<h2>Welcome to Twiggr!</h2>
hhh
<% form_for @post, :html => { :multipart => true }  do |f| %>
  <%= f.error_messages %>
 <%= render :partial => "/partials/post_form", :locals => {:f => f} %>
stuff
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>