<h2>Welcome to Twiggr!</h2>

<% form_for @image, :html => { :multipart => true }  do |f| %>
  <%= f.error_messages %>
 <%= render :partial => "/partials/image_form", :locals => {:f => f} %>
stuff
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
