<h2>img.gr &mdash; latest images</h2>
<div id="images">
<% @images.each do |image| %>
<div class="image">
<div>
	<%=link_to(image_tag(image.image.url(:thumb), :class => "post_image", :width => 50), :controller => :images, :action => :show, :id => image.id) %>
	<div class="tweet_status">
		<div class="description">
		<%= image.description %>
		</div>
		<%= link_to image.user.login, user_path(image.user.login) %> <em><%= time_ago_in_words(image.created_at)%> ago</em>
	</div>
</div>
<br clear="all" />
</div>
<% end %>
</div>
<br />
