<h3>images <%= twitter_profile_link(@tagged_user) %> is tagged in: </h3>

<% @user_tags.each do |tag| %>
	<div class="search_thumb">
	<a href="/<%=tag.image.id%>"><%= image_tag( tag.image.image.url(:thumb)) %></a>
	<%= twitter_profile_link(tag.user.login) %>
	</div>
<% end %>
